* {
    box-sizing: border-box;
}

html { height: 100%; }
body { min-height: 100%; }

.grid-container {
    display: grid;
    grid-template-columns: 90px 1fr;
    grid-template-rows: 70px 1fr;
    grid-template-areas: 
    "header header" 
    "nav main";
}

.header {
    align-items: center;
    background-color: #908e9e;
    display: flex;
    grid-area: header;
    justify-content: space-between;
    padding: 0 20px;
}

.header .header-logo h1 {
    color: #FFF;
    font-family: 'Gupter', serif;
    font-size: 25px;
    font-weight: 400;
    height: 40px;
    line-height: 40px;
}

.header .header-logo h1 span {
    font-weight: 700;
}

.header .header-nav {
    align-items: center;
    display: flex;
}

.header .header-nav .notifications svg {
    display: block;
    height: 24px;
    width: 24px;
}

.header .header-nav .divider {
    background-color: rgba(0,0,0,0.2);
    display: block;
    height: 50px;
    margin: 0 20px;
    width: 1px;
}

.header .header-nav .profile img{
    display: block;
    border-radius: 50%;
    height: 30px;
    width: 30px;

}

.header .header-nav .name {
    padding-left: 10px;
    color: #FFF;
    font-family: 'Gupter', serif;
}

.header .icon-fill {
    fill:#FFFFFF;
}

.nav { 
    background-color: #b38fc2;
    display: block;
    grid-area: nav; 
    min-height: 100vh;
    justify-content: center;
    position: sticky;
}

.nav img {
    margin: 0 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 35px;
}

.main { 
    grid-area: main; 
    justify-content: space-between;
    display: flex;
}

.main h2 {
    color: rgb(119, 118, 118);
    font-family: 'Gupter', serif;
    font-size: 20px;
    font-weight: 400;
    height: 30px;
    line-height: 30px;
    padding: 25px 25px;
}

.main .main-search {
    background-color: rgba(214, 210, 210, 0.651);
    height: 60px;
    width: 400%;
    align-items: center;
    padding-right: 20px;
    display: flex;
    justify-content: flex-end;
}









  /* Media Queries */
  @media (min-width: 320px) {

  }



  @media (min-width: 768px) {

  }




  @media (min-width: 1024px) {

  }