* {
    box-sizing: border-box;
}

html { height: 100%; }
body { min-height: 100%; }

.grid-container {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 90px 1fr;
    grid-template-rows: 70px 1fr;
    grid-template-areas: 
    "header header" 
    "nav main";
}

canvas {
    width: 100%;
    height: auto;
}

.header {
    align-items: center;
    background-color: #908e9e;
    display: flex;
    grid-area: header;
    justify-content: space-between;
    padding: 0 20px;
}

.header .header-logo h1 {
    color: #FFF;
    font-family: 'Gupter', serif;
    font-size: 25px;
    font-weight: 400;
    height: 40px;
    line-height: 40px;
}

.header .header-logo h1 span {
    font-weight: 700;
}

.header .header-nav {
    align-items: center;
    display: flex;
}

.header .header-nav .notifications svg {
    display: block;
    height: 24px;
    width: 24px;
}

.header .header-nav .divider {
    background-color: rgba(0,0,0,0.2);
    display: block;
    height: 50px;
    margin: 0 20px;
    width: 1px;
}

.header .header-nav .profile img{
    display: block;
    border-radius: 50%;
    height: 30px;
    width: 30px;

}

.header .header-nav .name {
    padding-left: 10px;
    color: #FFF;
    font-family: 'Gupter', serif;
}

.header .icon-fill {
    fill:#FFFFFF;
}

.nav { 
    background-color: #b38fc2;
    display: block;
    grid-area: nav; 
    min-height: 100vh;
    justify-content: center;
    position: sticky;
}

.nav img {
    margin: 0 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 35px;
}

.main { 
    grid-area: main; 
}

.main-tab {
    justify-content: space-between;
    display: flex;
}

.main h2 {
    color: rgb(119, 118, 118);
    font-family: 'Gupter', serif;
    font-size: 25px;
    font-weight: 400;
    height: 30px;
    line-height: 30px;
    padding: 25px 25px;
}

.main .main-search {
    align-items: center;
    background-color: rgba(214, 210, 210, 0.651);
    display: flex;
    font-family: 'Gupter', serif;
    height: 60px;
    justify-content: flex-end;
    padding-right: 20px;
    width: 400%;
}

.main .main-search input {
    appearance: none;
    border: 0;
    border: 1px solid rgb(116,116,116);
    border-radius: 4px;
    display: block;
    height: 40px;
    line-height: 20px;
    padding: 10px 15px;
    -webkit-appearance: none;
    width: 40%;
}

.alert {
    display: flex;
}

.alert-banner {
    align-items: center;
    background-color: rgb(142, 90, 161);
    border-radius: 5px;
    color: #FFF;
    display: flex;
    height: 40px;
    justify-content: space-between;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 0 20px;
    width: 95%;
}

.alert-banner-close {
    cursor: pointer;
}

.traffic {
    color: rgb(119, 118, 118);
    display: block;
    font-family: 'Gupter', serif;
    font-size: 15px;
    font-weight: 700;
    justify-content: space-between;
    height: 30px;
    line-height: 30px;
    padding: 15px 25px;
}

.traffic-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.traffic h3 {
    font-size: 20px;
}

.traffic-nav {
    display: flex;
}

.traffic-nav-link {
    padding-right: 20px;
}
.traffic-chart {
    display: flex;
    flex-direction: column;
} 

/* Daily Traffic bar graph */

.daily-chart{
    display: block;
    width: 50%;
    height: 50%;
    padding: 20px;
}

/* Doughnut Graph */

.mobile-chart {
    display: block;
    width: 50%;
    height: 50%;
    padding: 20px;
}










  /* Media Queries */
  @media (min-width: 320px) {

  }



  @media (min-width: 768px) {

  }




  @media (min-width: 1024px) {

  }